@use './include/fonts'
@use './include/base'
@use './include/header'
@use './include/footer'

@import ./include/vars
@import ./include/mixins


.container
  max-width: $containerWidth+px
  margin: 0 auto
  padding: 0 $containerSidePadding+px


@import ./include/media
