header
  .header
    .container
      .navbar
        .logo
          a(href="#!")
            img(src="@img/logo.svg", alt="logo")
        nav
          ul.menu
            li.menu__item
              a.menu__item-link(href="#!") Product
            li.menu__item
              a.menu__item-link(href="#!") Use Case
            li.menu__item
              a.menu__item-link(href="#!") Learn
            li.menu__item
              a.menu__item-link(href="#!") Comparison
            li.menu__item
              a.menu__item-link(href="#!") Pricing
            li.menu__item
              a.menu__item-link(href="#!") Contact Sales
        .nav__btns
          a(href="#!").nav-btn Sign up
          select.select
            option(value="en") EN
            option(value="ru") RU

        .burger
          span
