header
  nav
    .container
      .navbar
        .logo
          a(href="#!")
            img(src="./img/logo.svg", alt="logo")
        ul.menu
          li.menu__item
            a.menu__item-link(href="#!") Product
          li.menu__item
            a.menu__item-link(href="#!") Use Case
          li.menu__item
            a.menu__item-link(href="#!") Learn
          li.menu__item
            a.menu__item-link(href="#!") Comparison
          li.menu__item
            a.menu__item-link(href="#!") Pricing
          li.menu__item
            a.menu__item-link(href="#!") Contact Sales
        .nav__btns 
          button.nav-btn Sign up
   
      .burger
        span 
